torch
fastapi
uvicorn
spacy
pdfplumber
moviepy
librosa
soundfile
matplotlib
numpy
transformers
sentence-transformers
pyngrok
openai-whisper
accelerate
python-multipart
datasets
evaluate
pydantic==1.10.8
